<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Common.Properties.Settings.FDMConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\FDM.mdb;Jet OLEDB:Database Password=pw"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>